body {
	background-color:rgb(165, 7, 139);
}
button 
{
	line-height: 60px;
	font-weight: bold;
	padding: 0 40px;
	background: rgb(209, 209, 209);
	border: rgb(0, 0, 0);;
	position: absolute;
	left: 50px;
	top: 500px;
}

button:hover 
{
	background: rgb(9, 255, 0);
}